*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #C2C2C2;
	font-family:"Lucida Grande","Lucida Sans",Verdana,sans-serif;
}
header{
	background: #EFF0F0;
	margin:auto;
	width: 100%;
	max-width: 1000px;
}
nav{
	background: #71BDDC;
	color:#fff;
	margin:auto;
	max-width: 1000px;
	width: 100%;
	padding: 5px 10px;
}
nav a{
	color:#fff;
	font-size: 12px;
}
.justicia-logo{
	padding-left: 50px;
}
section{
	background: #FFF;
	margin:auto;
	width: 100%;
	max-width: 1000px;
}
.main-content{
	padding: 10px;
}

footer{
	background: #EFF0F0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	border-top: 2px solid #84b6f5;
	color: #a0a0a0;
}

footer p{
	padding: 10px;
	font-size: 10px;
}

/*
 * Vista de informes 
 */

 .table-informes{
 	font-size: 12px;
 }

@media screen and (max-width: 500px){
	.justicia-logo{
		display: none;
	}
}